# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.packages
pubspec.lock
coverage/
*.iml

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Node/Web
node_modules/
.env
dist/

# Android
android/local.properties
android/.gradle/
android/gradle/
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties

# iOS
ios/Flutter/Flutter.podspec
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.modulemap
ios/Flutter/GeneratedPluginRegistrant.*
ios/Flutter/.last_build_id
ios/.symlinks/
ios/.dart_tool/
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# MacOS
macos/Flutter/GeneratedPluginRegistrant.swift

# Web
web/packages
.dart_tool/

# General
.DS_Store
.AppleDouble
.LSOverride
*.log
*.pot
*.mo
*.jks
*.p12

# OS
Thumbs.db
